body{
    margin: 0;
}
section{
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    color: #363958;
    margin: 0;

}
p{
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
}

.half-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-part img{
    width: 90%;
    float: left;
}
.text-content{
    padding-top: 5rem;
}
.highlight{
    color: #FF8367;
    padding-bottom: 20px;
}
.link-button{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(45deg, #F46060, #FF8367);
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #363958;
    margin: 0;
    margin-bottom: 30px;
}
h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #363958;
    font-weight: 400;
    margin: 20px 5px;
}
.button-one{
    margin-top: 50px;
}
.works-section{
    background-color: #f5f3f3;
    width: 100%;
    height: 700px;
    position: relative;
}
.lastet-text h2{
    display: inline-block;
    text-align: center;
    margin: 100px 0;
    width: 100%;
}
.work-image img{
    width: 100%;
    border-radius: 10px;
}
.work-image{
    width: 25%;
    float: left;
    margin-left: 2%;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 20px #aaaaaa;
}
.all-content{
    height: 700px;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inquiry-section{
    background-image: url(../images/inquiry-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 60%;
}
.inquiry-text h1{
    float: left;
    padding: 115px 130px;
    color: #fff;
}
.last-button{
    float: left;
    margin-top: 141px;
}
.skill-section{
    box-sizing: border-box;
    background-color: #fff4f4;
    width: 100%;
    height: 600px;
}

.skill-section h2{
    padding-top: 100px;
    text-align: center;
}
.skill-section h3{
    margin-left: 10%;
}
.my-skill{
    border-radius: 10px;
    width: 80%;
    background-color: #ddd;
    margin-left: 10%;
}

.skills{
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: #fff; 
}

.html{
    width: 75%;
    background-color: #81e056;
    } 

.css {
    width: 60%; 
    background-color: #5ac3ec;
} 

.js{
    width: 25%; 
    background-color: #eb5f55;
}